# Rider
.idea/

# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.bak
*.dll
*.exe
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sbr
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.lib
*.scc
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.pubxml
*.pubxml.*
*.publishproj
*.user
*.users
*.appx
*.appxbundle
*.appxupload
*.testsettings
ipch/
*.VC.db
*.VC.opendb
*.sln.docstates

# .NET Core
*.nuget.props
*.nuget.targets
.project
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Ii]p/
[Bb]in/
[Oo]ut/
